html, body {
    max-height: 100vh;
    overflow: hidden;
}

* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(#ffffff 0%, #FCF7F8 90% ,#943126 100%);
    overflow: hidden;
}

.ocean {
    height: auto;
    width:100vw;
    z-index: 0;
    position: relative;
    bottom:0;
    left:0;
    background: #943126;
}

.wave {
    background: url(../images/wave.svg) repeat-x;
    position: absolute;
    top: -200px;
    width: 6400px;
    height: 200px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}
/* Carousel */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
    height: auto;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #943126;
}
